:root {
	--clr-dark: #070a;
	--clr-light: #f8f8fb;
	--clr-accent: #f43f70;
	--clr-rgba: rgba(244, 63, 112, 0.2);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	font-family: "Roboto", sans-serif;
}

.btn {
	font-size: 2rem;
	font-weight: 700;
	padding: 0.5em, 1em;
	color: var(--clr-accent);
	background-color: var(--clr-rgba);
	border: 10px solid var(--clr-accent);
	border-radius: 5px;

	/* transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s; */

	/* The next line of code will be all 4 above conditions in 1 line of code */
	transition: transform, 0.3s, ease, 0s;
}

.btn:hover {
	transform: translateY(-10px);
	background-color: var(--clr-accent);
	color: var(--clr-light);
}
